@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Geist", serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
.filter-white {
  filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(265deg) brightness(104%)
    contrast(101%);
}
#logo {
  font-family: "Roboto Slab", serif;
}
